<template>
    <div class="content">
        <div class="alert alert-success" v-if="success">
            Data changed succsessfully... reloading
        </div>

        <div class="alert alert-danger" role="alert" v-if="errors.length">
            <div>Please, fix errors</div>
            <div>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <tree-item-component
                    class="item"
                    :item="treeData"

                    @make-folder="makeFolder"
                    @add-item="addItem"
                ></tree-item-component>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "MainComponent",
        props: {
            categories: {
                type: Object,
                required: true
            },
        },
        data() {
            return {
                errors:[],
                treeData: Object,
                success:false,
                json: Object,
                st_data: String,
            }
        },
        created: function () {

            this.treeData = this.categories;
        },
        methods: {
            makeFolder: function (item) {

                Vue.set(item, 'children', [])
                this.addItem(item)
            },
            addItem: function (item) {

                if(item.id == undefined){
                    item.id = 0;
                }
                axios({
                    url: '/',
                    method: "post",
                    data: {
                        id: item.id,
                        name: item.newName
                    },
                })
                    .then(response => {
                        this.success = true;
                        console.log(response);
                        item.children.push({
                            name: response.data.name,
                            id: response.data.id
                        })
                        setTimeout(function () {
                            //window.location.reload();
                        }, 500);
                    })
                    .catch(response => {
                        this.errors.push('Creating new Category failed');

                        this.errors.push(error.response.data.message);
                    });
            },

        }
    }
</script>

<style scoped>
    .item {
        cursor: pointer;
        background-color: lightblue;
    }

    .bold {
        background-color: lightyellow;
        font-weight: bold;
    }

    ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
    }
</style>
