<template>
    <li class="nav-item">
        <div
            :class="{bold: isFolder}"
            >
            <input type="text" v-model="item.name" :disabled="!allowEdit">
            <span v-if="isFolder" @click="toggle">[{{ isOpen ? '&#8632;' : '&#8628;' }}]</span>
            <button type="button" class="btn btn-light"  v-if="item.id" @click="updateItem">{{ allowEdit ? '&#x2714;' : '&#x270E;' }}</button>
            <button type="button" class="btn btn-light" v-if="item.id" @click="makeFolder">+</button>
            <button type="button" class="btn btn-light" v-if="item.id" @click="deleteItem(item)">&#x2716;</button>
        </div>

        <ul v-show="isOpen" v-if="isFolder">
            <tree-item-component
                class="item"
                v-for="(child, index) in item.children.values()"
                :key="index"
                :item="child"
                @make-folder="$emit('make-folder', $event)"
                @add-item="$emit('add-item', $event)"

            ></tree-item-component>
            <div v-if="showInput">
                <input type="text" v-model="item.newName" placeholder=" New Partner Name">
                <button @click="$emit('add-item', item);this.showInput = !this.showInput;">ok</button>
            </div>
            <li class="add" v-if="!showInput" @click="showInput = !showInput">+</li>
        </ul>
    </li>
</template>

<script>
    export default {
        name: 'TreeItemComponent',
        props: {
            item: Object,

        },
        data() {
            return {
                isOpen: true,
                allowEdit:false,
                showInput: false,
                newName4: undefined,
            }
        },
        computed: {
            isFolder: function () {
                return this.item.children &&
                    this.item.children.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen
                }
            },
            makeFolder: function () {
                if (!this.isFolder) {

                    this.item.newName="New Folder";
                    this.$emit('make-folder', this.item)
                    this.isOpen = true
                }
            },
            rename: function (id) {
                console.log(id);
            },
            deleteItem(item) {
                if (item.id == undefined) {
                    item.id = 0;
                }
                axios({
                    url: '/' + item.id,
                    method: "delete",
                })
                    .then(response => {
                        window.location.reload();
                    })
                    .catch(response => {
                        console.log('Delete ' + item.id + ' failed');
                        console.log(error.response.data.message);
                    });
            },
            updateItem: function(){
                this.allowEdit = !this.allowEdit;
                if(!this.allowEdit){
                    console.log(this.routes);
                    axios({
                        url: '/'+this.item.id,
                        method: 'put',
                        data: {id: this.item.id, name: this.item.name},
                    })
                        .then(response => {
                            //window.location.reload();
                            console.log(response);
                        })
                        .catch(response => {
                            console.log('Update ' + this.item.id + ' failed');
                            console.log(error.response.data.message);
                        });
                }
            },
        }
    }
</script>

<style scoped>
    .item {
        cursor: pointer;
        background-color: lightblue;
    }

    .add {
        background-color: lightgreen;
    }

    .bold {
        background-color: lightyellow;
        font-weight: bold;
    }

    ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
    }

</style>



